body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form{
    border: 1px solid black; 
    width: 50%; 
    padding: 20px; 
    margin: 10px; 
    border-radius: 20px;
}
label{
    font-weight: 600;
}
input{
    padding: 8px; 
    border-radius: 15px; 
    margin: 10px;
}